<div class="content">
  <div class="right-align" *ngIf="userRole == 'admin'">
      <button mat-fab class="p-b-10 add-button hide-on-small" (click)='verifyUser()' >
          <i class="material-icons pointer">
            add
          </i>
      </button>
  </div>

  <table mat-table [dataSource]="polls" class="mat-elevation-z8 full-width">

    <ng-container matColumnDef="Answered">
      <th mat-header-cell *matHeaderCellDef class="min-width"> </th>
      <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.answered; else notAnswered">
              <i class="material-icons green-text default-cursor">
                done
              </i>
            </span>
            
            <ng-template #notAnswered>
              <i class="material-icons red-text default-cursor">
                cancel
              </i>
            </ng-template>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Poll Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Answer">
      <th mat-header-cell *matHeaderCellDef class="right-align"> Answer </th>
      <td mat-cell *matCellDef="let element" class="right-align"> 
          <i class="material-icons blue-text pointer" (click)="getSelectedPoll(element._id)">
              assignment
          </i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="right-align" *ngIf="userRole == 'admin'">
    <button mat-button class="green-button p-b-10 show-on-small hide-on-large" (click)='verifyUser()'>Add Poll</button>
  </div>
</div>