<div class="content">
    <div class="right-align">
        <button mat-raised-button class="blue-button p-b-10" (click)='goToPollList()' >Return to list</button>
    </div>
    <form>
        <mat-form-field>
          <input matInput placeholder="Poll name" [(ngModel)]="pollName" name="pollName">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Poll item" [(ngModel)]="pollItem" name="pollItem">  
          </mat-form-field>
          <button mat-icon-button class="blue-button" (click)="addItem()">+</button>
          <br>
          <hr *ngIf="pollItems.length > 0">
          <mat-list *ngFor="let item of pollItems; let i = index">
              
              <mat-list-item> 
                <i class="material-icons pointer red-text" (click)="removeItem(i)">remove_circle</i>
                 {{item.name}} 
              </mat-list-item>
            </mat-list>
      </form>
      <hr>
      <div class="button-center">
          <button mat-raised-button class="green-button p-b-10 full-width-small-button" (click)='saveNewPoll()'>Save</button>
      </div>
</div>