.login-image {
  width: 60px;
  border-radius: 50px;
  border: 3px solid #564444;
}

.login-form-parent {
  padding: 50px 100px 10px;
  background: #f1f2f2;
  border-radius: 15px;
  text-align: center;
  font-weight: 500;
  color: #5a5151;
  box-shadow: 1px 0 10px 0px #656363;
}

.login-form-child {
  padding: 10px 35px 35px;
  border-radius: 15px;
  text-align: center;
  font-weight: 500;
  color: white;
}

.mat-form-field-empty.mat-form-field-label {
  color: white;
}
.mat-form-field-underline {
  background-color: white;
}
@media (max-width: 600px) {
  .full-width-small-button {
    width: 100%;
  }

  .login-form-parent {
    padding: 50px 50px 10px;
    background: #f1f2f2;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
    color: #5a5151;
    box-shadow: 1px 0 10px 0px #656363;
  }
}