<div class="flexbox-parent">
    <div layout="row" layout-align="center center">
      <div class="flexbox-child">
        <div class="login-form-child">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form-parent">
              <img src="../../assets/poll.png" alt="" class="login-image">
              <span><h2>DatankPoll</h2></span>
            <div class="form-group">

              <mat-form-field>
                <input matInput placeholder="username" formControlName="username" id="username" autocomplete="off">
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
              <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username is required</div>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="password" placeholder="password" formControlName="password" id="pwd" autocomplete="off">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is required</div>
            </div>
            <div class="button-center">
                <button mat-raised-button [disabled]="loginForm.invalid" class="green-button full-width-small-button">Login</button>
            </div>
            <div *ngIf="invalidLogin" class="error">
              <div>Invalid credentials.</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
