<div class="content">
    <div class="right-align">
        <button mat-raised-button class="blue-button p-b-10" (click)='goToPollList()' >Return to list</button>
    </div>
    <form>
        <mat-form-field>
          <input matInput placeholder="Poll name" name="pollName" [value]="pollName">
        </mat-form-field>
        <br>
          <hr>
          <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedAnswer" name="first">
            <div *ngFor="let item of options">
              <mat-radio-button [value]="item.id" (change)="saveSelectedOption(item.id)"  [disabled]="selectedAnswer"></mat-radio-button> 
              
              <span>{{item.name}} - Votes: <span class="green-text">{{item.userId.length}}</span></span>
              <span *ngIf="item.userId.length > 0 && poll.usersVoted.length > 0; else loggedOut">
                <mat-progress-bar mode="determinate" [value]="item.progress" class="progress-bar-custom-size"></mat-progress-bar>
              </span>
              <ng-template #loggedOut>
                  <mat-progress-bar mode="determinate" value="0" class="progress-bar-custom-size"></mat-progress-bar>
              </ng-template>
            </div>
          </mat-radio-group>
      </form>
      <hr>
</div>