<div *ngIf="router.url != '/login' && router.url != '/'">
  <mat-toolbar class="toolbar" >
    Datank Poll <span class="text-center-align hide-on-small">Rol: {{role}}</span>
    <button mat-raised-button class="p-b-10 logout-button red-button" (click)='logOut()' >Log Out</button>
  </mat-toolbar>
</div>
<div class="parent-properties">
<router-outlet></router-outlet>
</div>
