/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #afafaf;}

.button-center {
  margin: 10px;
  text-align: center;
}

.content {
  width: 80vw;
  margin-left: 10vw;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.flexbox-parent {
  align-items: baseline;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 1000px;
  min-height: 550px;
  padding: 3px;
  width: 100%;
}

.flexbox-child {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.full-width {
  width: 100%;
}

.p-b-10 {
  margin: 0 0 10px 0 !important;
}
.right-align {
  text-align: right !important;
}

.left-align {
  text-align: left !important;
}

.text-center-align {
  width: 100%;
  text-align: center;
}

.min-width {
  width: 1px !important;
}
@media (max-width: 600px) {

  .show-on-small {
    width: 100%;
    margin: 10px 0 0 0 !important;
    background: red !important;
  }
  .hide-on-small {
    display: none !important;
  }

}

@media (min-width: 601px) {


  .hide-on-large {
    display: none !important;
  } 
  
}
/* ANGULAR MATERIAL */

.normal-height {
  height: fit-content !important;
  padding: 0 !important;
}

.blue-button {
  background: #008aec;
  color: white;
  box-shadow: 2px 3px 3px 0px #bfbfbf;
}

.blue-text {
  color: blue;
}

.green-text {
  color: green;
}

.green-button {
  background:#009600;
  color: white;
  box-shadow: 2px 3px 3px 0px #bfbfbf;
}

.pointer {
  cursor: pointer;
}

.progress-bar-custom-size {
  width: 20% !important;
  margin: 10px 0 20px;
}

.default-cursor {
  cursor: default;
}

.red-button {
  background: red !important;
  color: white;
}

.red-text {
  color: red;
}
